@import "../../app.scss";

.skills {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    .textContainer {
      flex: 1;
      align-self: flex-end;
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile {
        align-self: center;
        text-align: center;
        flex-direction: column;
      }
  
      p {
        font-weight: 200;
        font-size: 20px;
        color: gray;
        text-align: right;
      }
  
      hr {
        width: 500px;
        border: none;
        border-top: 0.5px solid gray;

        @include mobile {
          width: 300px;
        }
      }
    }
  
    .titleContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include mobile {
        width: 100%;
      }
  
      .title {
        display: flex;
        align-items: center;
        gap: 50px;

        @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }
  
        h1 {
          font-size: 66px;
          font-weight: 100;
          text-align: center;
        }
      }
    }
  
    .listContainer {
      flex: 2;
      display: flex;
      flex-direction: column;
      max-width: 1366px;
      margin: auto;
      width: 100%;
      align-items: center;
      gap: 80px;

      @include mobile {
      flex-direction: column;
      width: 100%;
    }
  
      // 1. Tech Stack Grid
      .techStack {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding: 0 20px;
  
        .techItem {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          color: gray;
          cursor: pointer;
          
          .icon {
            font-size: 50px;
          }
  
          span {
              font-size: 14px;
              text-transform: lowercase;
          }
        }
      }
  
      .skillList {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 80%;
  
          .skillItem {
              display: flex;
              align-items: center;
              gap: 20px;
  
              .bolt {
                  color: orange;
                  font-size: 30px;
                  min-width: 30px;
              }
  
              p {
                  font-size: 20px;
                  font-weight: 300;
                  color: white;
              }
          }
      }
    }
  }