@import "../../app.scss";

.navbar {
    height: 100px;
  
    .wrapper {
      max-width: 1366px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 0 20px; // Added padding so it doesn't touch the screen edges on small screens

      @include mobile {
        justify-content: flex-end;
        padding: 20px;
        display: flex;
      }
  
      span {
        font-weight: bold;
        font-size: 20px; // Slightly larger for better readability

        @include mobile {
            display: none;
          }
      }
  
      .social {
        display: flex;
        gap: 20px;
  
        a {
          color: white; // Default icon color
          font-size: 24px; // Size of the icons
          transition: all 0.3s ease;
          display: flex; // Keeps the icon centered in the a tag
          align-items: center;
  
          &:hover {
            color: orange; // Highlight color on hover
            transform: scale(1.2); // Subtle zoom effect
          }
        }
      }
    }
  }