html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}


body{
    background-color: #0c0c1d;
    color: lightgray;

}

a{
    text-decoration: none;
    color: inherit;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}

section.auto-height {
    height: auto !important; // Allow the section to grow as long as needed
    min-height: 100vh;       // Ensure it is at least one screen
    scroll-snap-align: start !important; // Align to top, prevents glitchy scrolling
  }

.course{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .box{
        height: 200px;
        width: 200px;
        background-color: white;
    }
}

@mixin mobile {
    @media (max-width: 738px) {
      @content;
    }
  }